# Ignore Python bytecode files
__pycache__/
*.pyc
*.pytest*
.coverage

# Ignore virtual environment directories
*venv/
.env

# Ignore VS Code settings
.vscode/

# Ignore other files or directories
bundesanzeiger_local*/
test_bundesanzeiger_local_data/
test_folder*/
crawled*/
domain_content*/
llm_extracted_*/
test_crawled*/
archive/*
archive_*/
pluralized*/
sachanlagen*/
logfiles/
output*/
process_*/

*.csv
*.log

.gitignore

# build files
enriched*
final*
llm*
merged*
sachanlagen*


makefile
*.toml
uv.lock
*.lock
.cursor/

# Added by Claude Task Master
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
# Task files
tasks.json
tasks/ 

*.db