# Ignore Python bytecode files
__pycache__/
*.pyc
*.pytest*

# Ignore virtual environment directories
venv/
.env/
.env

# Ignore VS Code settings
.vscode/

# Ignore other files or directories
bundesanzeiger_local_data*/
test_bundesanzeiger_local_data/
test_folder*/
crawled*/
domain_content*/
llm_extracted_data*/
test_crawled*/

.gitignore
